vcloud:
  host: <HOST without proto>
  org: <ORG>
  vdc: <VDC NAME>
  username: <USERNAME>
  password: <PASSWORD>
  verify_ssl_certs: False
  log: True
  log_file: /var/log/pyvcloud.log
  api_version: '27.0'
  default_storage: T1
  etcd:
    host: etcd.internal
    port: 2379
    # You can left below fields empty to not using TLS
    ca_cert: /etc/etcd/ssl/ca.crt
    cert: /etc/etcd/ssl/etcd.crt
    key: /etc/etcd/ssl/etcd.key
    timeout: 5
  debug: False
